@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --btn-color:#6CB840;
    --eclipe-color:#649549;
    --light-green:#6CB840;
    --footer-bg:#F1FAEC;
    --banner-bg:#E5E5E5;
    --explore-menu:#EAF3E4;
    --hot-deals:#C9ECB5;
    --hot-deals-text:#6CB840;
    --contact-bg:#FFF5DD;
    --eat-tog:#FFE2A0;
    --main-title-span :#E9BC59;
}

body {
    font-family: "Poppins";
    overflow-x:hidden;
}


.main-header {
    padding: 60px 80px 0px 80px;
    background-color: var(--banner-bg);
    height: 120vh;
}

.header {
    z-index: 2;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.links-1 ul li {
    display: inline-flex;
}

.links-1 ul li a {
    text-decoration: none;
    list-style: none;
    padding: 0px 30px;
    color: inherit;
    font-size: .85rem;
}

.logo {
    cursor: pointer;
    margin-top: -30px;
    display: inline-block;
    /* padding: 0px 20px; */
}


/* DESCRIPTION SECTION  */

.banner-content {
    display: flex;
    justify-content: space-between;
}

.descr {
    width: 400PX;
    height: auto;
}

#content {
    font-size: 1.1rem;
}

.title {
    font-size: 3rem;
    /* font-family: var(--font-type); */
    padding: 20px 0px;
}

#sub-title {
    font-size: 1.8rem;
    font-weight: 450;
    margin-bottom: 10px;
}

.btn-order-now {
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1.1rem;
}

#food-title {
    color: var(--main-title-span);
}

/* CIRCLE CONTANER  */
.circle-container {
    position: relative;
    z-index: 2;
    width: 600px;
    height: 600px;
    border-top: 4px dotted var(--eclipe-color);
    border-radius: 50%;
}

#img-1 {
    transform: translate(-30px, 200px);
}

#img-3 {
    transform: translate(10px, -80px);
}

#img-6{
    transform: translate(530px, 100px);
}
#img-40 {
    transform: translate(-80px, 30px);
}
#center {
    transform: translate(-210px, 200px);
    margin-top: 80px;
}

#img-5 {
    transform: translate(130px, 20px);
}

.green-circle {
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    transform: translateY(-1300px);
    margin-left: 400px;
    background-color: var(--btn-color);
}


/* EAT TOGETHER  */

.tog {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px 0px 120px;

}
.tog img {
    width: 50%;
    height: auto;
}

#eat-tog {
    text-align: center;
    margin-top: 80px;
    color: var(--eat-tog);
    font-size: 2.5rem;
    padding: 10px 0px 25px 0px;
    letter-spacing: .2rem;
}

#tog-data {
    width: 450px;
    font-size: 1.3rem;
    text-align: center;
    line-height: 2rem;
}

/* EXPLORE MENU  */

.explore-menu {
    padding: 40px 120px 0px 120px;
}
.menu {
    background-color: var(--explore-menu);
}
.explore-title {
    text-align: center;
    padding: 20px 0px;
}

#menu {
    color: var(--eclipe-color);
}

.menu-item-1{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 60px 0px ;
}
.item-1 {
    padding: 40px 10px 10px 10px;
    background-color: #fff;
    border-bottom-right-radius: 40px;
    width: 300px;
    height: 200px;
}

.item-1 h4 {
    font-size: 1.2rem;
    /* margin-top: -15px; */
}

.item {
    display: inline-flex;
    padding: 20px 0px;
}

.item p {
    font-size: 1rem;
    text-align: center;
}

.item img {
    width: 60%;
    height: 60%;
    margin-left: -80px;
}

/* HOT DEALS */
.hot-deals {
    padding: 0px 120px 0px 120px;
}

.deals {
    padding: 20px 40px;
    background-color: var(--hot-deals);
}

.deals h2 {
    padding: 30px 0px 0px 0px;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}

#deals-title{
    color: var(--hot-deals-text);
}

.deals-data {
    display: flex;
    justify-content: space-between;
}


.img-deals {
    display: flex;
    transform: translateY(-35%);
    margin-bottom: -150px;
}

#img-2 {
    width: 80%;
    height: 70%;
    padding-right: 120px;
    margin-left:-260px;
    margin-top: 250px;
}

.deal-content h1 {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: .3rem;
    color: var(--hot-deals-text);
    margin-bottom: 30spx;
}

.deal-content h3 {
    font-size: 1.8rem;
    font-weight: 450;
    margin-bottom: 15px;
}

#deals_p {
width: 600PX;
text-align: inherit;
font-size: 20px;
}

/* CONTACT SECTION*/

.contact-us {
    padding: 0px 120px 60px 120px;
}

.contact-content {
    background-color: var(--contact-bg);
    text-align: center;
}

.contact-content h1 {
    font-size: 2rem;
    padding: 30px 0px;
}

#us {
    color: var(--light-green);
}
.contact-content p{
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0px;
}

.contact-content input {
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    border: none;
    outline: none;
    margin: 20px 0px;
}

.contact-content input::placeholder {
    font-size: 18px;
}

.btn-btn-send {
    background-color: var(--btn-color);
    color: white;
    padding: 15px 60px;
    margin: 30px 0px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
}
/* FOOTER CONTENT*/


footer {
    padding: 00px 120px 0px 120px;
}

.footer-info {
    padding: 80px 10px 80px 20px ;
    display: flex;
    justify-content: space-between;
    background-color: var(--footer-bg);
}

.wk-hrs {
    display: inline-flex;
    line-height: 2rem;
}


.wk-hrs h4 {
    letter-spacing: .2rem;
    
}

.times{
    padding-right: 40px;
    margin-right: 60px;
    border-right: 3px dotted var(--light-green);
}

#phone {
    font-weight: 600;
}
small {
    font-size: 1em;
    font-weight: lighter !important;
}


.social{
    display: inline-flex;
}


.follow {
    display:block;
}

.follow h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: .75rem;
}

.follow p {
    text-transform: uppercase;
    font-size: .85rem;
    line-height: 1.5rem;
}

.socio-icon a img {
    float: left;
    width: 2rem;
    cursor: pointer; 
    margin-right:-10px;
    margin-bottom: 60px;
}

.btn-send {
    background-color: var(--btn-color);
    color: white;
    border:none;
    padding: 10px 24px;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
    margin-left: -15px;
}